<!-- Cookies Start -->
<div class="card cookie-popup shadow rounded py-3 px-4">
    <p class="text-muted mb-0">Este site utiliza cookies para lhe proporcionar uma ótima experiência de usuário. Ao usá-lo, você aceita nossas <a href="https://shreethemes.in" target="_blank" class="text-success h6"> políticas de cookies 🍪</a></p>
    <div class="cookie-popup-actions text-end">
        <button><i class="uil uil-times text-dark fs-4"></i></button>
    </div>
</div>
<!--Note: Cookies Js including in plugins.init.js (path like; js/plugins.init.js) and Cookies css including in _helper.scss (path like; scss/_helper.scss)-->
<!-- Cookies End -->